.make-order {
  color: #333333;
  h1 {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
  }
  .dropdown {
    max-height: 0; /* Початкове значення */
    overflow: hidden;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
    opacity: 0;
  }

  .drop-open {
    max-height: unset; /* Встановіть максимальну висоту (достатньо для вмісту) */
    opacity: 1;
  }

  .drop-close {
    max-height: 0;
    opacity: 0;
  }
  .form-with-basket {
    display: flex;

    gap: 10px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
    form {
      width: 70%;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      gap: 10px;
      button {
        margin-top: 7.5px;
        width: 100%;
        height: 40px;
        border: 1px solid #339e364d;
        //border: 1px solid #339e36;
        font-size: 13.45px;
        font-weight: 400;
        line-height: 22.01px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
        //color: #339e36;
        background-color: #339e36;
        //background-color: transparent;
        border-radius: 8px;
        /*
        width: 100%;
        border-radius: 8px;
        outline: none;
        margin-top: 10px;
        height: 40px;
        box-sizing: border-box;

        font-weight: 400;
        font-size: 13.89px;
        line-height: 22.01px;
        text-align: center;
        vertical-align: middle;
        */
      }
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        .number {
          display: flex;
          align-items: center;
        }
        h2 {
          font-family: Inter;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 22px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          span {
            display: none;
          }
        }
      }
      .comtact-open {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .contact-name-and-phone {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .name-and-surname {
            display: flex;
            flex-direction: row;
            gap: 5px;
          }
        }
      }
      .contact {
        transition: all 0.3s ease-in-out;

        &.open {
          //background-color: #f9f9f9;
        }

        .fade-in {
          animation: fadeIn 0.3s ease-in-out;
        }

        .edit-button {
          margin-top: 10px;
          background-color: #ffd400;
          border: none;
          padding: 10px 15px;
          border-radius: 8px;
          cursor: pointer;
          color: #333;
          font-size: 14px;
        }
        .contact-open {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 12px;
          p {
            width: 100%;
          }
          .value {
            width: calc(50% - 6px);
            @media (max-width: 768px) {
              width: 100%;
            }
          }
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .block {
        background-color: #ffffff;
        border-radius: 8px;
        border: 0.75px solid #04c421;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 7.5px;
        p {
          font-weight: 500;
          font-style: Medium;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;

          margin: 0;
          color: #000000;
        }
        label {
          font-weight: 500;
          font-style: Medium;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #6d676b;
          span {
            color: #f80000;
          }
        }
        .phone-input {
          display: flex;
          box-sizing: border-box;
          font-size: 16px;
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 8px;
          width: 100%;
          &::placeholder {
            font-size: 14px;
            font-weight: 400;
            line-height: 22.01px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #333333;
          }
          &:focus {
            border-color: #ffd400;
          }
        }
        input {
          display: flex;
          box-sizing: border-box;
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 8px;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          line-height: 22.01px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #333333;
          outline: none;
          &::placeholder {
            font-size: 13.67px;
            font-weight: 400;
            line-height: 16.02px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #7d7d91;
          }
          &:focus {
            border-color: #ffd400;
          }
        }
      }
      .delivery {
        cursor: pointer;
        padding-top: 15px;
        .col {
          display: flex;
          flex-direction: column;
          width: 100%;
          span {
            white-space: nowrap;
          }
          .radio-contain {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid #ebd8e4;
            .radio {
              width: 20px;
              height: 20px;
              padding: 0;
              margin: 0;
            }
            .post-title {
              display: flex;
              flex-direction: row;
              justify-content: left;
              align-items: center;
              &.new {
                svg {
                  min-width: 24px;
                }
              }
              &.ukr {
                svg {
                  min-width: 14px;
                  margin-right: 5px;
                }
              }
              .new-post {
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
              }
              .post-from {
                white-space: nowrap;
                margin-left: 100px;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #00000060;
              }
            }
          }
          .new-post {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            .new-post-title {
              .post-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px;
              }
            }
            .list-price {
              display: flex;
              flex-direction: column;
              span {
                font-size: 14px;
                font-weight: 400;
                line-height: 20.01px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #acacbe;
              }
            }
          }
        }
        .curier-or-other {
          display: flex;
          flex-direction: column;
          gap: 7.5px;
          .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            p {
              margin: 0;
            }
          }
        }
        .ukr-post-info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 10px;
          .row {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            p {
              margin: 0;
            }
          }
        }
      }
      .list-way-delivery {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .way-delvery {
          display: flex;
          flex-direction: row;
          cursor: pointer;
          align-items: flex-start;
          padding: 24px;
          box-sizing: border-box;

          .svg {
            cursor: pointer;
          }
          input {
            margin: 0;
            padding: 0;
            width: unset;
            height: unset;
            cursor: pointer;
            &:focus {
              border-color: #ffd400;
            }
          }
          .text {
            display: flex;
            flex-direction: column;
            gap: 4px;
            p {
              font-weight: 500;
              font-style: Medium;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #000000;
              margin: 0;
            }
            .desc {
              font-weight: 400;
              font-style: Regular;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
            }
          }
        }
      }
      .button-clear-form {
        height: 40px;
        width: 100%;
        border-radius: 7.5px;
        background-color: #ffffff;
        border: 1.5px solid #dadae8;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: #dadae8;
        }
      }
    }
    .basket-and-promokods {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 30%;
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  .row-no-wrap {
    align-items: flex-start !important;
    span {
      white-space: nowrap;
    }
  }
}
