@import './App.scss';

.home-container {
  .home-goods {
    @include responsive-width;
    margin-top: 20px;
    h2,
    h1 {
      font-weight: 600;
      font-style: Semi Bold;
      font-size: 26px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;
      margin-top: 80px;
    }
    .row-blog {
      display: flex;
      flex-direction: column;
      .row {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        a {
          text-decoration: none;
        }
      }
      h2 {
        margin: 0;
      }
      p {
        font-weight: 600;
        font-style: Medium;
        font-size: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #77878f;
        margin: 0;
        display: flex;
        align-items: center;
        color: #000000;
        gap: 8px;
        &:hover {
          color: #fe680a;
        }
      }
      .list-blog {
        margin: 20.75px 0;
        display: flex;
        gap: 10px;
        flex-direction: row;
        //flex-wrap: wrap;
        @media (max-width: 1200px) {
          p:nth-child(n + 5) {
            display: none;
          }
        }
        @media (max-width: 1024px) {
          flex-wrap: wrap;
        }
      }
    }
  }
  .main-text {
    margin: 40px 0;
    padding: 24px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ebd8e4;
    border-radius: 12px;

    p {
      margin-top: 12px;
      margin-bottom: 16px;
      font-weight: 400;
      font-style: Regular;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    a {
      cursor: pointer;

      button {
        background-color: #ebd8e4;
        border: 0.5px solid #000000;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        font-weight: 500;
        font-style: Medium;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }
}
