.list-article-container {
  display: grid;
  gap: 15px;

  .button-down {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .downsvg-container {
      cursor: pointer;
      background-color: #f3e8ef;
      width: 100px;
      border-radius: 100px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #ff8e8e;

        svg path {
          stroke: #ffffff;
        }
      }
    }
  }
}
