.about-goods {
  h2 {
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 14px;
  }

  .discount-or-hit {
    position: absolute;
    top: 16px;
    right: 94px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    div {
      padding: 3px 5px;
      border-radius: 12px;
      background-color: #ff8e8e;
      color: #ffffff;
      text-align: center;
      height: auto;
    }
    .is-free-delivery {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      background-color: #09c926;
    }
  }
  .about-goods-container {
    //background-color: ;
    border-top-width: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 1178px) {
      margin-left: 0;
      width: 100%;
      position: static;
      margin-bottom: 0;
    }

    .select-goods {
      position: sticky;
      right: 0;
      //top: calc(50vh - 110px);
      //transform: 25%;
      //top: 100px;
      background-color: #ffffff;
      min-width: 490px;
      max-width: 490px;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      border: 0.75px solid #e0e1e2;
      border-radius: 15px;
      @media (max-width: 1178px) {
        display: none;
        // position: static;
      }

      //border: 2px solid #e0e1e2;
      //border-left-width: 0;

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        img {
          object-fit: contain;
        }
        .like-and-compresion {
          position: absolute;
          right: 27px;
          top: 16px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          .compresion {
            cursor: pointer;
            &:hover {
              svg {
                path {
                  stroke: red;
                }
              }
            }
            &.inCompresion {
              svg {
                path {
                  stroke: red;
                }
              }
            }
          }
          .like {
            cursor: pointer;
            &:hover {
              svg {
                path {
                  stroke: red;
                }
              }
            }
            &.isLike {
              svg {
                fill: red;
                path {
                  stroke: red;
                }
              }
            }
          }
        }
      }
      .text-cont {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
        gap: 16px;
        .name {
          font-weight: 400;
          font-style: Semi Bold;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
        }
        .art {
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #7f7f7f;
        }
        .additional-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .additionall {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            .reviews {
              font-weight: 400;
              font-style: Regular;
              font-size: 13px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #000000;
            }
          }
          .write-review {
            display: flex;
            align-items: center;

            font-weight: 400;
            font-style: Medium;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: #000000;
            cursor: pointer;
          }
        }
        .buy {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 4px;
          .price-with-basket {
            display: flex;
            flex-direction: row;
            gap: 40px;
            align-items: center;
            .price {
              display: flex;
              flex-direction: column;
              .price-no-discount-and-discount {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                justify-content: center;
                .price-no-discount {
                  display: flex;
                  align-items: center;

                  font-size: 12.25px;
                  font-weight: 500;
                  line-height: 18px;
                  text-align: center;
                  text-underline-position: from-font;
                  text-decoration-skip-ink: none;
                  color: #808080;
                  text-decoration: line-through;
                }
                .discount {
                  background-color: #ff090b;
                  border-radius: 12px;
                  padding: 1px 4px;

                  font-size: 11px;
                  font-weight: 700;
                  line-height: 14px;
                  text-align: left;
                  text-underline-position: from-font;
                  text-decoration-skip-ink: none;
                  color: #ffffff;
                }
              }
              .price-with-discount {
                font-weight: 700;
                font-style: Bold;
                font-size: 26px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #000000;
                span {
                  font-size: 24px;
                  font-weight: 700;
                }
              }
            }
            .button-buy2 {
              button {
                background-color: #04c421;
                color: #ffffff;
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                border-radius: 6px;
                padding: 13px 17px;
                box-sizing: border-box;

                &.inBasket {
                  background-color: #269569;
                }
              }
            }
          }
          .like-and-compresion {
            display: flex;
            flex-direction: row;
            gap: 12px;
            div {
              width: 50px;
              height: 50px;
              border: 1.25px solid #d6d6d6;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
              cursor: pointer;
            }
            .compresion {
              cursor: pointer;
              &:hover {
                svg {
                  path {
                    stroke: red;
                  }
                }
              }
              &.inCompresion {
                svg {
                  path {
                    stroke: red;
                  }
                }
              }
            }
            .like {
              cursor: pointer;
              &:hover {
                svg {
                  path {
                    stroke: red;
                  }
                }
              }
              &.isLike {
                svg {
                  fill: red;
                  path {
                    stroke: red;
                  }
                }
              }
            }
          }
          .relative {
            position: relative;
            .info-abs {
              display: none;
              position: absolute;
              top: -27px;
              background-color: #ffffff;
              padding: 5px;
              border-radius: 5px;
              border: 0.1px solid #000000;
              white-space: nowrap;
              z-index: 3;
              font-size: 12px;
              height: 15px;
              width: auto;
            }
            &:hover {
              .info-abs {
                display: flex;
              }
            }
          }
        }
      }
    }
    .text {
      width: calc(100% - 507px);
      @media (max-width: 1178px) {
        width: 100%;
        // position: static;
      }
      //border: 2px solid #e0e1e2;
      border-top-width: 0;
      .description {
        padding: 24px;
        .description-text32 {
          font-size: 14px;
          font-weight: 400;
          line-height: 22.2px;
          text-align: justify;
          color: #333333;
          margin-bottom: 15px;
          transition:
            max-height 0.8s ease,
            opacity 0.4s ease;
          overflow: hidden;

          &.no-show12 {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-height: 71px; /* 3 строки × 21px */
            opacity: 0.9;
          }

          &.expanded {
            max-height: 10000px; /* достатньо велике значення */
            opacity: 1;
            -webkit-line-clamp: unset;
            display: block;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        background-color: #ffffff;
        border: 0.75px solid #e0e1e2;
        border-radius: 15px;

        .add-info53 {
          margin-bottom: 20px;
          font-style: italic;
          font-weight: 400;
          font-size: 14px;
        }
      }
      .characteristics {
        //border-top: 2px solid #e0e1e2;
        background-color: #ffffff;
        margin-top: 15px;
        padding: 20px;
        border: 0.75px solid #e0e1e2;
        border-radius: 15px;
        padding: 24px;
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            p {
              font-weight: 400;
              font-style: Regular;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #000000;
            }
            span {
              font-weight: 600;
              font-style: Semi Bold;
              font-size: 13px;
              line-height: 100%;
              letter-spacing: 0%;
              text-align: right;
              color: #000000;
            }
          }
          .select {
            background-color: #f9f3f7;
          }
        }
      }
      .button-container {
        display: flex;
        justify-content: center;

        button {
          width: 296px;
          height: 42px;
          border: 0.75px solid #e5e5e5;
          border-radius: 8px;
          background-color: #ffffff;

          font-weight: 400;
          font-style: Regular;
          font-size: 15px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #000000;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          outline: none;
          border: 1px solid #ebd8e4;
          border-radius: 6px;
          span {
            color: #ffffff;
            font-size: 20px;
            line-height: 14.75px;
            border-radius: 100%;
            width: 16px;
            height: 16px;
          }
          &:hover {
            background-color: #dbdbdb;
          }
        }
      }
      .reviews {
        padding: 24px;
        //border-top: 2px solid #e0e1e2;
        margin-top: 15px;
        background-color: #ffffff;
        border: 0.75px solid #e0e1e2;
        border-radius: 15px;
        .title {
          display: flex;
          flex-direction: column;
          gap: 7.5px;
          h2 {
            margin: 0;
          }
          .line {
            height: 35px;
            width: 1px;
            background-color: #000000;
            margin-top: 10px;
            @media (max-width: 500px) {
              display: none;
            }
          }
          p {
            display: flex;
            align-items: flex-end;

            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0%;
            color: #000000;
            margin: 14px 0;

            @media (max-width: 500px) {
              display: none;
            }
          }
        }
        .button-reviews {
          margin-top: 10px;
          button {
            width: 126px;
            height: 47px;
            background-color: #000000;
            border: none;
            border-radius: 50px;

            font-size: 13.02px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #ffffff;
            cursor: pointer;
          }
        }

        .list-imgs-buys {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            margin: 0;
            margin-bottom: 5px;

            font-size: 14.5px;
            font-weight: 700;
            line-height: 31.25px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000;
            span {
              font-size: 16px;
              font-weight: 700;
              line-height: 31.25px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #999999;
            }
          }
          .list-imgs {
            display: flex;
            flex-direction: row;
            gap: 5px;

            img {
              border-radius: 8px;
              cursor: pointer;
            }
          }
        }
        .rating-review {
          margin: 20px 0;
          padding: 20px 10px;
          border: 1px solid #e5e5e5;
          border-radius: 8px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 5%;
          @media (max-width: 670px) {
            justify-content: space-between;
          }
          .average-rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .avarge {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              gap: 5px;
              p {
                margin: 0;

                font-size: 29.22px;
                font-weight: 700;
                line-height: 30px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
              span {
                font-size: 13.13px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
            }
          }
          .list-rating {
            display: flex;
            flex-direction: column;
            width: 40%;
            min-width: 300px;
            @media (max-width: 670px) {
              min-width: unset;
              width: fit-content;
            }
            .count-rating {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;
              align-items: center;
              gap: 10px;

              .my-client-rating {
                width: 100px;
                display: flex;
                justify-content: flex-end;
              }
              p {
                margin: 0;
                width: 39px;

                font-size: 12.8px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
              }
              .rating-Robotoest {
                display: flex;
                flex-direction: row;
                width: calc(100% - 130px);
                border-radius: 4px;
                .Robotoest-select {
                  background-color: #d93a3f;
                  height: 4px;
                }
                .Robotoest-no-select {
                  height: 4px;
                  background-color: #d9d9d9;
                }
              }
            }
          }
        }
        .review-empty {
          margin: 10px 0;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #000000;
        }
        .list-star-and-star {
          display: flex;
          justify-content: space-between;
          @media (max-width: 670px) {
            flex-direction: column;
            gap: 10px;
            justify-content: flex-end;
            align-items: flex-end;
          }
          .list-star {
            display: flex;
            flex-direction: row;
            gap: 10px;

            @media (max-width: 670px) {
              display: none;
            }
            .sort-in-star {
              border: 2px solid #e5e5e5;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              border-radius: 20px;
              padding: 7.5px 10px;
              cursor: pointer;
              p {
                margin: 0;

                font-size: 16px;
                font-weight: 700;
                line-height: 12px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #d93a3f;
              }
            }
          }
          .sort {
            position: relative;
            display: flex;
            align-items: center;
            @media (max-width: 670px) {
              width: fit-content;
            }
            select {
              width: 222px;
              border: 1px solid #e5e5e5;
              outline: none;
              height: 43px;
              background-color: #ffffff;

              font-size: 12.91px;
              font-weight: 400;
              line-height: 18px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #616161;
              cursor: pointer;
              border-radius: 8px;
              padding: 0 10px;
              appearance: none; /* Прибирає стандартну стрілку браузера */
              -webkit-appearance: none;
              -moz-appearance: none;
              padding-right: 30px; /* Збільшує простір для стрілки */
              position: relative;
              option {
                background-color: #ffffff;

                font-size: 12.91px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #616161;
              }
            }
            .button-svg {
              position: absolute;
              right: 10px;
              margin-bottom: 3px;
            }
          }
        }
        .button-all-reviews {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 10px;
          border: 1px solid #e5e5e5;
          border-radius: 8px;
          height: 68px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          cursor: pointer;
          &:hover {
            background-color: #e5e5e5;
          }
        }
      }
      @media (max-width: 768px) {
        .description,
        .characteristics,
        .reviews,
        .video {
          padding: 15px 10px;
        }
      }
    }
    .video {
      padding: 20px;
      background-color: #ffffff;
      margin-top: 15px;
      border: 0.75px solid #e0e1e2;
      border-radius: 15px;
      //border-top: 2px solid #e0e1e2;
      .video-container {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%; // 16:9
        height: 0;
        overflow: hidden;
        max-width: 100%;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
          border: 0;
          border-radius: 25px;
          @media (max-width: 768px) {
            border-radius: 15px;
          }
        }
      }
    }
  }
  .title-see-more {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #listReviews {
    scroll-margin-top: 200px;
  }
  #addReview {
    scroll-margin-top: 200px;
  }

  .relative {
    position: relative;
    .info-abs {
      display: none;
      position: absolute;
      top: -27px;
      background-color: #ffffff;
      padding: 5px;
      border-radius: 5px;
      border: 0.1px solid #000000;
      white-space: nowrap;
      z-index: 3;
      font-size: 12px;
    }
    &:hover {
      .info-abs {
        display: flex;
      }
    }
  }
}
