.sort-container {
  width: calc(100% - 30px);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding-bottom: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  p {
    margin: 0;
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #616e82;
    white-space: nowrap;
  }
  .list-sort-for {
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: auto;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
    }
    span {
      height: 38px;
      background-color: #f9f3f7;
      box-sizing: border-box;
      padding: 10px;
      font-weight: 500;
      font-style: Medium;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background: #ebd8e4;
      }
    }
    .active {
      background-color: #ebd8e4;
    }
  }
}
