@import '../App.scss';

.cabinetLayout {
  @include responsive-width;
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    @media (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 30px;
      gap: 0;
    }
  }
  .cabinetLayout--contnet {
    width: 100%;
  }
}
