@import '../App.scss';

.cabinetLayout {
  @include responsive-width;
  &__wrapper {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
}
