.auth-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  @media (max-width: 768px) {
    display: none;
  }
  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: #ffffff15;

      // color: #fe680a;
    }
    .title {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
      cursor: pointer;
      background-color: #ffffff;
      &:hover {
        background-color: #ff8e8e;
        svg {
          path {
            stroke: #ffffff;
          }
        }
      }
    }
    p {
      color: #fff;
      margin: 0;
      font-size: 12px;
      line-height: 14px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .dropdown-container {
    //width: 100px;
    display: flex;
    justify-content: center;
    width: 70px;
    z-index: 102;
  }
  .dropdown {
    position: absolute;
    bottom: -25px;
    left: 0px;
    display: flex;
    white-space: nowrap;
    z-index: 3;
    background-color: #fff;
    border: 0.1px solid #000;
    border-radius: 5px;
    padding: 5px;
    display: none;
    font-size: 12px;
    &.dropdown2 {
      bottom: -47.5px;
      flex-direction: column;
      gap: 5px;
    }

    .dropdownBtn {
      &:hover {
        text-decoration: underline;
        color: #fe680a;
      }
    }

    &.show {
      display: block;
      opacity: 1;
      transform: translateY(0);
      @media (max-width: 768px) {
        display: none;
      }
    }

    div {
      cursor: pointer;
    }
  }
}
