.itemWrapper-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  height: calc(80vh - 300px);
  @media (max-width: 1300px) {
    height: calc(80vh - 250px);
  }
  @media (max-width: 1024px) {
    height: unset;
  }
  &.itemWrapper-container-no-list {
    height: unset;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    .basket-goods2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      border: 1px solid #ebd8e4;
      padding: 24px;
      box-sizing: border-box;
      border-radius: 12px;
      @media (max-width: 1300px) {
        padding: 12px;
      }
      .basket-goods-text23 {
        display: flex;
        flex-direction: column;
        gap: 6px;
        img {
          height: 110px;
          width: 100px;
          object-fit: contain;
        }
        h3 {
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 19px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          margin: 0;
        }
        .bonus {
          display: flex;
          align-items: center;
          background-color: #ebd8e499;
          border-radius: 100px;
          width: 148px;
          min-width: 148px;
          max-width: 148px;

          gap: 7px;
          justify-content: left;
          font-weight: 500;
          font-style: Semi Bold;
          font-size: 17px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          padding: 6px;
          white-space: nowrap;
          svg {
            min-width: 23px;
          }
          span {
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 17px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
            white-space: nowrap;
          }
        }
        .art {
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #7f7f7f;
        }
      }
      .add-or-minus-or-basket {
        display: flex;
        align-items: center;
        justify-content: center;
        .add-or-minus {
          display: flex;
          flex-direction: row;
          align-items: center;
          min-width: 155px;
          max-width: 155px;
          height: 50px;
          border: 1px solid #000000;
          border-radius: 6px;
          svg {
            path {
              stroke: #000000;
            }
          }
          .arrow,
          .count {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .count {
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 22px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
          }
        }
      }
      .like-and-del-and-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        .like-and-del {
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          .like {
            &.liked {
              svg {
                path {
                  fill: #f80000;
                  stroke: #f80000;
                }
              }
            }
          }
        }
        .price-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .old-price-and-discount {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            .old-price {
              font-weight: 600;
              font-style: Semi Bold;
              font-size: 15px;
              line-height: 100%;
              letter-spacing: 0%;
              text-decoration: line-through;
              color: #969696;
            }
            .discount {
              background-color: #f80000;
              border-radius: 6px;
              padding: 2px;
              font-weight: 800;
              font-style: Extra Bold;
              font-size: 15px;
              line-height: 100%;
              letter-spacing: 0%;
              text-align: center;
              color: #ffffff;
            }
          }
          .price-with-discount {
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 25px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
            span {
              font-size: 26px;
            }
          }
        }
      }
      .basket-goods-text23 {
        width: 60%;
      }
      .add-or-minus-or-basket {
        width: 20%;
      }
      .like-and-del-and-price {
        width: 20%;
        max-width: 130px;
      }
      @media (max-width: 1024px) {
        display: grid;
        gap: 10px;

        grid-template-columns: 82px calc(100% - 92px);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
          'img title'
          'img art'
          'bonus actions'
          'counter price';
        .basket-goods-img,
        .basket-goods-text23,
        .add-or-minus-or-basket,
        .like-and-del-and-price {
          display: contents;
        }

        img {
          grid-area: img;
          width: 82px;
          align-self: start;
          // Важливо: картинка може займати кілька рядів,
          // але не повинна розтягувати другий ряд (art)
          grid-row: 1 / 3;
          height: auto;
        }

        h3 {
          grid-area: title;
          align-self: start;
          margin: 0;
          line-height: 1.2; // Трохи підтиснемо текст, якщо треба
          text-wrap: wrap;
          white-space: wrap;
          max-width: 99%;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 3;
        }
        .art {
          grid-area: art;
          align-self: start;
          margin-top: -5px; // Невеликий від’ємний margin, щоб "підклеїти" до назви
          font-size: 12px;
          color: #888;
        }

        .bonus {
          grid-area: bonus;
        }

        .like-and-del {
          grid-area: actions;
          align-items: flex-end;
          justify-content: right;
        }

        .add-or-minus {
          grid-area: counter;
        }

        .price-container {
          grid-area: price;
          justify-self: end;
        }
      }
    }
  }
}
