.forgot-password-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1e1e1e9c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 70;
  .forgot-password {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 574px;
    width: 100%;
    margin: 15px;
    @media (max-width: 768px) {
      padding: 30px;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20.4px;
        text-align: left;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      svg {
        cursor: pointer;
      }
    }
    label {
      font-weight: 500;
      font-style: Medium;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #6d676b;
      span {
        color: #f80000;
      }
    }
    input[type='email'],
    input[type='password'] {
      height: 40px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #e1e1e1;
      margin-top: 3px;
      padding-left: 10px;
      border-radius: 6px;
    }
    input[type='checkbox'] {
      margin: 0;
      padding: 0;
      border: 1px solid #e1e1e1;
      width: 16px;
      height: 16px;
    }
    span {
      font-weight: 500;
      font-style: Medium;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #7f7f7f;
    }
    .button-right {
      display: flex;
      justify-content: flex-end;
      button {
        border: none;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        background-color: #04c421;
        color: #ffffff;
        border-radius: 6px;
        height: 50px;
        .button-text {
          width: 70px;
          text-align: left;
          font-family: Helvetica;
          font-weight: 700;
          font-size: 14px;
          line-height: 19.6px;
        }
      }
    }
  }
}
