#header-basket-container {
  position: relative;
  @media (max-width: 768px) {
    position: unset;
  }

  #title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &:hover {
      background-color: #ffffff15;
      border-radius: 5px;
    }

    .title {
      position: relative;
      width: 50px;
      height: 50px;
      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      transition: background-color 0.3s ease;
      cursor: pointer;
      background-color: #ffffff;
      &:hover {
        background-color: #ff8e8e;
        svg {
          path {
            fill: #ffffff;
          }
        }
      }

      .count {
        position: absolute;
        right: -5px;
        top: -5px;
        box-sizing: border-box;
        width: 17px;
        height: 17px;
        background-color: #f80000;

        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        border-radius: 100%;
        line-height: 1;
        span {
          margin: 0;
          padding: 0;
        }
        border-radius: 100%;
      }
    }
    position: relative;
    p {
      position: absolute;
      bottom: -38px;
      right: -3px;
      display: flex;
      white-space: nowrap;
      z-index: 3;
      background-color: #fff;
      border: 0.1px solid #000;
      border-radius: 5px;
      padding: 5px;
      display: none;
      font-size: 12px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &:hover {
      p {
        display: flex;
      }
    }
  }
  .dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;

    @media (max-width: 400px) {
      padding: 3px;
    }
    background-color: #00000050;
    opacity: 0;
    //transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    &.show {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transform: translateY(0);
      @media (max-width: 450px) {
        right: -20px;
      }
    }
    .drop {
      background-color: #ffffff;
      padding: 60px;
      height: 80%;
      width: 95%;
      box-sizing: border-box;
      border-radius: 12px;
      @media (max-width: 1300px) {
        padding: 30px;
      }
      @media (max-width: 1024px) {
        padding: 20px;
        height: 90%;
        overflow-y: auto;
      }
      h2 {
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        margin-top: 0;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .close-svg {
          cursor: pointer;
        }
      }
      .footer-basket {
        margin-top: 10px;
        padding: 24px;
        @media (max-width: 1300px) {
          padding: 12px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ebd8e4;
        border-radius: 12px;
        * {
          white-space: nowrap;
          text-wrap: nowrap;
        }
        .continue-shop {
          height: 50px;
          padding: 0 20px;
          background-color: #f4f4f4;
          color: #2277ad;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 19px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        .bonus-and-other {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          .bonus-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            gap: 10px;
            .bonus {
              display: flex;
              padding: 6px;
              background-color: #ebd8e499;
              font-weight: 400;
              font-style: Regular;
              font-size: 20px;
              line-height: 100%;
              letter-spacing: 0%;
              align-items: center;
              border-radius: 100px;
              gap: 3px;
              svg {
              }
              span {
                font-weight: 600;
                font-style: Semi Bold;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
              }
            }
            @media (max-width: 1150px) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
        .sum {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          .price {
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
          }
          @media (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-end;
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          gap: 12px;
          button {
            height: 50px;
            font-weight: 500;
            font-style: Medium;
            font-size: 19px;
            line-height: 100%;
            letter-spacing: 0%;
            border: none;
            border-radius: 6px;
            cursor: pointer;
          }
          .button-form-order {
            background-color: #04c421;
            color: #ffffff;
          }
          .in-basket {
            background-color: transparent;
            color: #04c421;
            border: 1px solid #04c421;
          }
        }
        @media (max-width: 1024px) {
          flex-direction: column-reverse;
          gap: 8px;
          .bonus-and-other {
            flex-direction: column;
            gap: 23px;
            width: 100%;
            .bonus-info,
            .sum {
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
            }
            .buttons {
              gap: 8px;
              width: 100%;
            }
          }
          .continue-shop {
            width: 100%;
          }
        }
      }
    }
  }
}
